@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #fafafa;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
    color: #0000ee;
}
a:visited{
    color: #0000ee;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    font-family: 'Roboto',sans-serif;
    font-weight: lighter
}

header.site-header{
    padding: 2% 0px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffe600;
}
h1.site-title{
    font-family: 'Bungee', cursive;
    font-size: 4rem;
    margin-bottom: 5px;
}

h3.site-description{
    font-size: 1.8rem;
}

.container{
    display: flex;
    margin: 20px auto;
    width: 80%;
}

aside{
    width: 20%;
    padding: 0px 2%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
aside input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}
aside ul{
    border-bottom: 5px solid #ffe600;
}
aside ul li{
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
}
.selected{
    border-left: 5px solid #ffe600;
    background-color: #fff176;
}
aside ul li:hover{
    border-left: 5px solid #ffe600;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

article{
    text-align: center;
    width: 25%;
    margin-bottom: 10px;
}
article img{
    width: 80%;
}

.byLine{
    margin-top: 15px;
    font-size: .8rem;
}